	.nav a{

		color:white;
		font-family:sans-serif;
	}

	.nav a,#explore{
		text-decoration: none;	

	}
	.logo{
		font-size: 30px; 
		color:white;
		font-family:Milkshake;
		margin-left: :10px;
	}
	
	.main,.nav{
		display:flex;
		flex-direction:row;
		
	}
		.main{
		width:100%; 
		padding-left:20px;
		padding-right:20px;
		background-color:#7ff2f6;
	}
	
	.nav a{

		font-weight:bolder;
		font-size:18px;
	}

	.logo:hover{
		text-decoration:none !important;  
		color:white;
	}
	.nav a:hover{
		background-color: transparent !important; 
		color:lightgrey;
	}

	
@font-face {
    font-family:Milkshake ;
    src:url("../Milkshake.otf");
}


.logo{
	font-family:Milkshake;
	margin-right: 100px; 
}

.top-nav{

	align-self:center;

	margin-right:50px;
	width:50vw;
}




/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    	z-index: 2; 

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

