
<%= javascript_include_tag "croppie/croppie.js", "data-turbolinks-track" => "reload" %>
<%= javascript_include_tag "edit_user.js" %>
<%= stylesheet_link_tag "edit_user.css", media: "all" %>
<%= stylesheet_link_tag "croppie/croppie.css", media: "all" %>

<%=  render "videos/nav" %>

<div class="background"> 
	<%= form_for @user, html: {  id: "form", class: "form" ,multipart: true } do |f|  %> 


	  <div class="pic"> 
	  <img id = "orig" src="<%= @user.image.url %>" class="profile-pic"/>

		<img id="img"  src="<%= @user.image.url %>" class="profile-pic"  />
	  </div>
	  	<div class="buttons"> 
	  		<span class="pic-button" onclick="flip(-1)">  -90 </span>
	  		<span class="confirm-button" onclick="confirmImage()"> Confirm</span> 
		  	<span class="pic-button" onclick="flip(1)">  +90 </span>

	  	</div>

	  <div class="fields" >

	  	<h4> Update Profile Pic </h4>
 	  
			<input type="hidden" name="user[image]" id="pic" /> 
			<input type="file" onchange='handleChange(event)'>


 	  	<br /> 
 	  	<div class='yo'> 
	 	  	<% if defined? @image %> 
	 	  		<%= @image.inspect %> 
	 	  	<% end %> 
	 	  </div>



	  	<%= f.label :name, class: "label"%> 
	 	<%= f.text_field :name , :placeholder =>' User Name',:value => @user.name,class: "form-control form-control-lg  field" %>
	  	 <%= f.label :email, class: "label" %> 

		  <%= f.text_field :email ,:value => @user.email,   :placeholder =>' Email',class: "form-control form-control-lg field " %>
		  

	 	  <button onclick="submitform()" class=" submit-button btn btn-info"> Update Profile </button> 

	 	</div>  


	<% end %>
</div>






