  
<%= stylesheet_link_tag "bootstrap/css/bootstrap", media: "all" %>
<%= stylesheet_link_tag "login", media: "all" %>


<div class="background"> 

	<%= form_tag login_path, :class => "form"  do   %> 
		
		<% if @error %> 
			<span class="error-text"> Username or Password provided Incorrect </span> 
		<% end %> 
			<%= link_to "HappyTravlr",videos_path, class: "logo" %>  

		<div class="fields" > 

		<%= text_field_tag "email" ,@user.email,class: "form-control form-control-lg field ",placeholder: 'Username or Email'
		   %>	
		<%= password_field_tag "password" ,nil,class: "form-control form-control-lg field ",placeholder: 'Password'
		   %>
		 
 	   <%= submit_tag nil, class: "btn btn-primary" %>

	 	</div>  

	 	<%= link_to "Register", new_user_path, class: "register-text" %> 

	<% end %>
</div>
