
<%= stylesheet_link_tag "bootstrap/css/bootstrap", media: "all" %>
<%= stylesheet_link_tag "new_user", media: "all" %>
<div class="background">
		 




	<%= form_for @user, html: {  class: "form" ,multipart: true } do |f|  %> 
	<%= link_to "HappyTravlr",videos_path, class: "logo" %>  

<% if @user.errors.count > 0 %> 
			<% @user.errors.each do |type,message|  %> 
				<div class="error"> <%= type.capitalize %> <%= message %> 	</div> 
			<% end%> 
<% end %>

	  <div class="fields" > 
	 	 <%= f.text_field :name ,   :placeholder =>' User Name',class: "form-control form-control-lg	 field" %>

		  <%= f.text_field :email ,   :placeholder =>' Email',class: "form-control form-control-lg field " %>

			<%= f.password_field :password ,   :placeholder =>'Password',class: "form-control form-control-lg field" %>
	 	   <%= f.submit "Register ",class: "btn btn-primary" %>

	 	</div>  

	 		 	<%= link_to "Login", login_path, class: "login-text" %> 



	<% end %>
</div>
