<%= stylesheet_link_tag "bootstrap/css/bootstrap", media: "all" %>
<%= stylesheet_link_tag "profile", media: "all" %>
<%= stylesheet_link_tag "nav", media: "all" %>
<%=  render "videos/nav" %>

<style type="text/css">
	.profile-pic{
	
	background-image:url("<%= @user.image.url %>");


}


</style>


<body>

	<div id="profile-info">
		<% if not @user.id == session[:user] %> 
			<span class="user-name"> Tomi Okiji </span>	
		<% else %> 
			<%= link_to "Change Profile Pic", edit_user_path(@user), class: "change-pic" %> 
		<% end %> 
		 

		<div class="profile-pic"> </div>
		<div id="r" >


			 <div id="holder">
			
				
				<% if @user.videos.count > 0 %> 
					<span class="video-filter-text">Recent Uploads </span>
				<% else %> 
					<span class="video-filter-text"> No Recent Uploads </span>
				<% end %> 
					<div class="video-container"> 
					<% i = 0 %> 
					<% @user.videos.each do |video| %> 
					<%= link_to(video_path(video) }) do %> 
							  	<span class="video-title"><%= video.title %> </span>
							  	<span class="place"> <%= video.city+","+video.country %> </span>
					<% end %> 

						  	<% if (i+1) % 3 == 0  %> 
									<div class="line-break" ></div>
								<% end %> 
								<% i+=1 %> 

						<% end %> 

					</div>

				</div>
		</div>
	</div>
    	<%=  render "videos/footer" %>

</body>

	


