
<div style="display: flex; 
	flex-direction: row; 
	justify-content: space-between;
	padding-left: 100px; 
	padding-right: 100px; 
	padding-top: 15px; 
	background-color: black; 
	width: 100%; 
	color:lightgrey;
	height:50px;">
	<span>Copyright © 2017 HappyTravlr </span>
	<span> tomiokiji@gmail.com </span>
</div>