

<% if session[:user] %> 
	<% style =  "background-image:url("+User.find(session[:user]).image.url+");" %> 	
<% end %>
<style> 

.dropbtn {

	<%= style %> 
	background-position: center;
	background-size: cover;
    width:40px;
    height:40px;
    margin-top:5px;
    margin-left:20%;
    border-radius: 50%; 
    border: none;
    cursor: pointer;
}
</style>

<%= stylesheet_link_tag "bootstrap/css/bootstrap", media: "all" %>

<%= stylesheet_link_tag "nav", media: "all" %>
	
	<div class="main">
		<%= link_to "HappyTravlr", videos_path,class: "logo" %>
		<ul class="nav"> 
			<li class="top-nav">
				<div class="search-bar-holder form-group">
					<div class="input-group ">
	   				<input type="text" id="search"  class=" search-bar form-control" placeholder="Search a destination">
	    			<span class=" search-bar input-group-btn">
		      		<button class=" search-bar btn btn-default" onclick="search()">
		    				<i class="  glyphicon glyphicon-search"></i> 
		    			</button>
	    			</span>
					</div>
				</div>
			</li>	 
				<% if not session[:user] %> 
					<li class="first-link"> <%= link_to "Login", login_path %> </li>
					<li> <%= link_to "Register", new_user_path %> </li>
				<% else %> 
					<li class="first-link"> <%= link_to "Upload", new_video_path %> </li>
					<li > 
						<div class="dropdown">
						  <div onclick="myFunction()" class="dropbtn"></div>
						  <div id="myDropdown" class="dropdown-content">
						   <%= link_to "Profile", user_path(session[:user]) %> 
							 <%= link_to "Logout", logout_path %> 
						  </div>
						</div>
					</li>

				<% end %>  


			</ul>

	</div> 

<script>
	/* When the user clicks on the button, 
	toggle between hiding and showing the dropdown content */
	function myFunction() {
	    document.getElementById("myDropdown").classList.toggle("show");
	}


	function search(){
		var search = $("#search").val(); 
		window.location.replace("/search?query="+search+"&page=1");


	}

	$("#search").keyup(function(event)
	{
	    if(event.keyCode == 13)
	    {
	    	search(); 
	    }
	

	});

	// Close the dropdown if the user clicks outside of it
	window.onclick = function(event) {
	  if (!event.target.matches('.dropbtn')) {

	    var dropdowns = document.getElementsByClassName("dropdown-content");
	    var i;
	    for (i = 0; i < dropdowns.length; i++) {
	      var openDropdown = dropdowns[i];
	      if (openDropdown.classList.contains('show')) {
	        openDropdown.classList.remove('show');
	      }
	    }
	  }
}
</script>
