

<%= stylesheet_link_tag "bootstrap/css/bootstrap", media: "all" %>

<%=  render "nav" %>



<%= form_for  @country,  :url => url_for(:controller => 'videos', :action => 'post_flag'), html: {   multipart: true } do |f| %>
	

	<%= f.text_field :name ,:placeholder =>' Name',class: "form-control title" %>
	 
<%= f.file_field :flags %> 
	<%= f.submit %> 


<% end %>

