
<%= stylesheet_link_tag "bootstrap/css/bootstrap", media: "all" %>
<%= stylesheet_link_tag "index" %>
<%= javascript_include_tag "index.js" %>

<html>

	<body> 
	<div class="background"> 
		<header class="main">

			<ul class="nav"> 
					<% if not session[:user] %> 
						<li> <%= link_to "Login", login_path %> </li>
						<li> <%= link_to "Register", new_user_path %> </li>
					<% else %> 
						<li> <%= link_to "Upload", new_video_path %> </li>

						<li> <%= link_to "Logout", logout_path %> </li>
					<% end %> 
			</ul>
		</header> 


 	<p class="slogan-holder" >
 			<span class="logo"> HappyTravlr </span>

 		<br> 

		<span class="top">A Video Site for Travelers by Travelers </span>
		<br /> 
	 	<span class="bottom">Travel, Shoot, Share </span>
	</p> 


	
	  <div style="width:50%;" class="form-group has-feedback">
	    <input type="text" id="search" class="input-lg search-bar form-control" placeholder="Search Dubai" />
	    <i style="color:grey;font-size:30px; 		margin-top:10px;" 
	    class="form-control-feedback glyphicon glyphicon-search"></i>
	  </div>

  </div>

  <div> 

  </div>

  <div> 



  <div id="e">
  	<h1 class="discover"> Exlore Trending Travel Videos </h1>
  	<span class="discover-under"> Watch some of the video's that have 
  														been handpicked by the HappyTravlr community</span> 
 		<div class="video-container"> 
 		<% if @videos.count > 0 %> 
	 		<% i = 1 %> 
			<% @videos.reverse_each do |video| %> 
				<a href="/videos/<%=video.id %>" class="video"
					style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('<%= video.thumbnail.url(:large) %>');

							background-position: center; 	
							background-repeat: no-repeat; 
							background-size: cover;



					"
				 >
					<span class="video-title"> <%= video.title %> </span>
					<span class="place"> <%= video.city %>,<%= video.country%> </span>
					<span href="#" class="video-by"><%= video.user.name %> </span`	>

				</a>

				<% if (i+1) % 3 == 0  %> 
					<div class="line-break" ></div>
				<% end %> 
				<% i+=1 %> 

			<% end %>
		<% end %> 
		</div>

	</div>

	<div class="bottom-join"> 
		<h1> Join HappyTravlr !</h1>
		<span> Get your video put on the front page </span>
		 <%= link_to "Register", new_user_path ,class: "sign-up-link" %>
	</div>

 
    	<%=  render "videos/footer" %>

</body> 


</html>  	






