

	
<%= stylesheet_link_tag "bootstrap/css/bootstrap", media: "all" %>
<%= javascript_include_tag "croppie/croppie.js", "data-turbolinks-track" => "reload" %>
<%= javascript_include_tag "new_video.js" %>
<%= stylesheet_link_tag "croppie/croppie.css", media: "all" %>

<%=  render "nav" %>



<%= form_for  @video,  html: {  id: "form" ,multipart: true } do |f| %>
		<% if @messages.count > 0 %> 
			<% @messages.each do |type,message|  %> 
				<div class="error"> <%= type.capitalize %> <%= message %> 	</div> 
			<% end %> 
		<% end %> 



	
	<div class="form-stuff"> 
		<div class="form-text"> Upload Video </div>
	  <%= f.text_field :title ,:placeholder =>' Title',class: "form-control title" %>

		<%= f.text_field :city ,list: "city" ,:placeholder =>'City',class: "form-control city" %>
			  <datalist id="city">
		    <option value="Baltimore">
		    <option value="Detroit">
		     <option value="Los Angeles">

		    <option value="Washinton DC">


	  </datalist>






 	  <%= f.text_field :country , list: "country" , :placeholder =>'Country',class: "form-control country" %>

	  <datalist id="country">
		    <option value="United States">
		    <option value="Mexico">
		    <option value="China">
		    <option value="Japan">
		    <option value="Korea">

		    <option value="Canada">

	  </datalist>


	  <%= f.text_area :description ,  :placeholder =>'Description',class: "form-control description" %>

		<label class="btn btn-default btn-file">
			Video File <%= f.file_field :video, style: "display: none;",
			:onchange => 'setVideoName(event)', 
			id: "upload"
			 %> 
	 	</label>
	 	<span id="upload-path">  </span>

	 	<br /> 

		<label class="btn btn-default btn-file">
			Thumbnail <%= f.file_field :thumbnail, style: "display: none;", 
				:onchange => 'handleChange(event)',
				id: "uploadImage"
				%> 
	 	</label>


	 	<div id="pic"> 
			<img id="img" />
		</div>
		<div class="buttons"> 
			<span class="flip" onclick="flip(-1)">-90 </span>
			<span class="flip" onclick="flip(1)">+90</span>
		</div>

 	  <div class = "submit btn btn-primary" onclick="submit()"> Upload </div>
	</div>




<% end %>




