<%= stylesheet_link_tag "bootstrap/css/bootstrap", media: "all" %>
<%= stylesheet_link_tag "profile", media: "all" %>
<%= stylesheet_link_tag "nav", media: "all" %>
<%=  render "nav" %>

<body>

	<div id="profile-info">
		<span class="user-name"> Tomi Okiji </span>	
		<div class="profile-pic"> </div>
		<span class="places-text"> Countries's I've been to  </span> 
		<div id="r" >


			 <div id="holder">
				<div className="flags-container"> 


					<img class="flag-img" src="	<%=asset_path 'uk.png' %>" />
					<img class="flag-img" src="	<%=asset_path 'france.png' %>" />
					<img class="flag-img" src="	<%=asset_path 'germany.png' %>" />
					<img class="flag-img" src="	<%=asset_path 'uk.png' %>" />

					
				</div> 

				<span class="video-filter-text">Recent Uploads </span>
					<div class="video-container"> 

					<% for i in 0..6%> 
							<a href="video" class="video" >
						  		<span class="video-title"> First Time in London</span>
						  		<span class="place"> London,Uk</span>
						  	</a>
					<% end %> 
					</div>

				</div>
		</div>
	</div>
</body>

	


