<%= stylesheet_link_tag "search", media: "all" %>
<%=  render "videos/nav" %>



<body> 	

	<div class="search-results-text"> 
		<% if @videos.count > 0 %> 
			Search Results for "<%= @query %>"
		<% else %> 
			There were not videos found for "<%= @query %>"
		<% end %> 
	</div>

<br />
	
	<div class="search-results">
	
 
		<% for i in @start_index .. @end_index  %> 
			<% video = @videos[i] %> 
			<div class="result">
				<%= link_to "", video_path(video), class: "video", style: 
					'background-image: url('+ video.thumbnail.url(:medium) + ');'

				  %>
				<div class="video-info"> 
					<%= link_to user_path(video.user.id), class: "video-by" do %>
					<% style ="background-image: url("+ video.thumbnail.url(:medium) +") " 
					%> 

							<div class="video-title"> <%= video.title %> </div>
							<div class="video-location"><%= video.city %>,<%= video.country %> </div> 
					<span class="profile" style='<%= style %>' > </span> 
						 <%= video.user.name %> |
						<span class="view-count"> <%= video.views %> views</span>
					<% end %> 
				</div>
			</div>
		<% end %> 
		<div class='line-break'></div>
		<div class="pages">
		<% if @page > 1 %> 	
			<%= link_to "Previous", "/search?query="+@query+"&page="+(@page-1).to_s, class: "page" %> 
		<% end %> 
		<% for i in @page .. @pages %>
		 	<% if @page == i %> 
		 		<% styles = "active page" %> 
		 	<% else %> 
		 		<% styles = "page " %> 
		 	<% end %> 

			<%= link_to i, "/search?query="+@query+"&page="+(@page+i - 1).to_s, class: styles %> 

		<% end %> 

		<% if @page < @pages %> 	
		<%= link_to "Next", "/search?query="+@query+"&page="+(@page + 1).to_s, 
								 class: "page" %> 
		<% end %> 

	</div>	

	</div>



</body>