	
<%= stylesheet_link_tag "bootstrap/css/bootstrap", media: "all" %>
<%=  render "nav" %>
<%= stylesheet_link_tag "video", media: "all" %>
<%= stylesheet_link_tag "show_video", media: "all" %>
<%= javascript_include_tag "http://vjs.zencdn.net/5.12.6/video.js" %>
<%= javascript_include_tag "show_video.js" %>


<body> 
	

		<video id="my_video" class=" vjs-big-play-centered video-js vjs-tech" controls 				
				preload="auto" 

			  poster="<%= @video.thumbnail.url(:large)  %>"

			   data-setup="{}">
		    <source src="<%= @video.video.url %>" type='video/mp4'>
		   	<source src="<%= @video.video.url %>" type='video/mov'>

		    <p class="vjs-no-js">
		      To view this video please enable JavaScript, and consider upgrading to a web browser that
		      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
		    </p>
		</video>

	
	 <div class="under-video">
			<div class="video-info-holder"> 
				  <div class="video-info"> 
					 <span class="video-title"><%= @video.title %> </span>
					 <p class="from ">by 
					 	<span class="by"> <%= @video.user.name %> </span> 

						 	<%= @video.created_at.strftime("%b %d %Y") %>

					 </p>
					 <%= link_to(user_path(@video.user), html_options = {}) do %> 
					 	<div class="user-pic"> </div>
					 <% end %> 

				</div >

				 <div class="video-analytics">
					 <div class="video-icons"> 
							<div class="views" >
							 <i class="video-icon glyphicon glyphicon-play "></i> <span class="view-count-text"> <%= @video.views %> </span>
							</div>
							<div> 
								 <i id="favorite-button" class="video-icon glyphicon glyphicon-heart">
								 </i> 
								 <span class="like-count"> <%= @video.likes.count %> </span>
							 </div>
					 </div>
					 <p class="video-description">
					 		<%= @video.description %>
					  </p>
					 </div>
					 <div class="comments">
					 	<h4> Comments </h4>
					 	<% if not session[:user] == nil %> 
						 	<form id="comment-form" action="/new_comment" method="post">
						 		<input type="hidden" name="video_id" value="<%= @video.id %> " />
						 		<input type="hidden" name="user_id" value="<%= @user.id %> "/>
						 		<textarea placeholder="Post a comment " id="add_comment"  name="comment" class=" form-control"></textarea>  
						 		<button class="btn post-comment-btn btn-info">Post</button>
						 	</form>
						<% else %> 

							<%= link_to "Register and leave a comment!", new_user_path, 
							class: "leave-comment" %> 

						 <% end %> 
						
				

					 	<% @comments.each do |comment| %> 

						 	<div class="user-comment"> 

						 		 <div style="background-image: url(<%= comment.user.image.url %>);" > 
								</div>

						 		<div class="comment-image-right"> 
						 			<%= link_to comment.user.name, user_path(comment.user.id), 
						 				 class: "user-name" %> 
						 				 <span> 
						 				 	<%= comment.created_at.strftime("%b %d %Y") %>

						 				 </span>
							 		<div class="comment-text"> 
							 			<%= comment.comment %> 
							 		</div>
							 	</div>

						 	</div>
					 	<% end %> 



					 </div>
			</div>

			<div class="recommended-videos">
				<span class="more-videos-text"> 
					Recommended videos 
				</span>
				<div class="line"> </div> 		

			<% @videos.each do |video| %> 
			<% if @video.id == video.id %> 
				<% next %> 
			<% end %> 
				<%= link_to video_path(video), class: "rec-video-container" do %> 


							<div class="recommended-video" 
									style="background-image: 
												url(<%= video.thumbnail.url(:thumb)%>);"
							> </div>
							<div class="video-text-container"> 
								<span class="rec-video-title"><%= video.title %>  </span>
								<span class="rec-video-creater"> <%= video.user.name %> </span>
							</div>
					
				<% end %> 
			<% end %>
	 </div>


</body>



