
	.form{
		width:100%;
		display:flex;
		flex-direction: column; 
		justify-content: center; 
		align-items: center;
		height:75vh;
	}
	.field{
		margin-bottom: 15px; 
		height:60px !important;
		width: 30%;
		padding-top:300px;
	}

	.fields{
		width:40%;
		margin-bottom: 5px	;
	}

	.submit-button{
		height: 50px !important;
		margin-top: 10px; 
		width:100% !important;
	}
	@font-face {
    font-family:Milkshake ;
    src: url('../Milkshake.otf');
}	
	
	.logo{
		font-family:Milkshake;
		color:white;
		font-size: 100px;
		margin-bottom: 5px; 
	}

	.logo:hover{
		text-decoration: none; 
		color:white;
	}

	.background{
		background-repeat: no-repeat;
		padding-top:100px;
		background-size: cover; 
		background-position: center; 
		width:100%;
		height:100vh; 
		display: flex; 
		flex-direction:column;
		align-items:center;
	}

	.label{
		color:black !important;
		font-size:15px !important;
	}
	.profile-pic{
		margin-bottom: 30px; 
		margin-right: 30px; 
		height:300px;
		display: block; 
		width:300px;
	}

	.pic{
		padding-top:70px;
	}
	h4{
		margin-bottom: 300px; 
	}

	.pic-button{
		background: lightgreen; 
		color:white;
		padding:10px;
		width:100px;
		height: 50px; 
		cursor: pointer;
		margin-right:50px;
		margin-left	:50px;
		display: none; 

	}

	.confirm-button{
		background: lightgreen; 
		color:white;
		padding-right:100px;
		padding-left:100px;

		padding-top: 10px; 
		padding-bottom: 10px;
		cursor: pointer;
	
		display: none; 

	}


	#img{
		display: none; 
		margin-left:30px;

	}

p{
	max-width:30px;
	height:30px;
	text-overflow: wrap;
	background-color: black;
}

.buttons{
	margin-top:10px;
}