	body{
		padding:0;
		margin: 0; 
	}


@font-face {
    font-family:Milkshake ;
    src: url('../Milkshake.otf');
}

	.background{
		background-repeat: no-repeat;
		background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("<%=asset_path 'tokyo.jpg' %>");
		background-size: cover; 
		background-position: center; 
		width:100%;
		height:80vh; 
		display: flex; 
		flex-direction:column;
		align-items:center;
		color:white;
	}

	#welcome,#explore, .nav a{

		color:white;
		font-family:sans-serif;
	}


	#explore
	{
		margin-top:10px;
		padding-top:10px;
		padding-bottom:10px;
		font-size:30px;
		border:1px white solid;
		padding-left:30px;
		padding-right:30px;
		font-weight: bold;

	}

	#explore:hover{
		background-color:white;
		color:black;
	}
	.nav a,#explore{
		text-decoration: none;	

	}

	.logo{
		font-size: 4.5em; 
		color:white;
		font-family:Milkshake;
		margin-left: :10px;
		margin-bottom:20px;
	}
	
	.main,.nav{
		display:flex;
		flex-direction:row;
		justify-content:space-between;
	}
	.main{
		width:100%; 
		padding-left:100px;
		padding-right:100px;
	}

	.nav li{
		margin-top: 10px;
		color:white;
		list-style-type: none; 
		background-color: none; 	
	}

	a{
		border:none !important;
	}

	a:hover{
		background-color: transparent !important;
		color:skyblue !important;
		border:none !important;
	}

	.nav a{
		font-weight:bolder;
		font-size:18px;
		margin-right:20px;
	}

	a{
				text-decoration: none !important;
	}

	a:hover{
		color:lightgrey;
	}



	.top,.bottom{
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;	
		font-size:30px;
		width:40%;
		margin-top:10px;
		text-align: center;

}

.bottom{
	font-size: 25px
}
.top{
		font-weight: bold;
		margin-top:3000px;

}

.search-bar{
	color:white;
	border-color:white;
	background-color: transparent !important;
	height:60px !important;
	width:100% !important;
}

.search-bar:focus{
	color:white;
    border-color: white !important;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6) !important;
}

.slogan-holder{
	width:100%;
	text-align: center;
	margin-top:60px;
	margin-bottom:70px;
}
	
.video-container{
	padding-top:50px;
	display:flex;
	justify-content: center;
	width:100%;
	align-items: center;
	justify-content:center;
	align-content:center;
	flex-direction: row; 
	padding-right:10%;
	padding-left:10%;
	flex-wrap:wrap;
	align-self:center;
	padding-bottom:100px;

}

.video{

	text-decoration: none; 
	border: .5px black solid; 
	height:220px; 
	flex-grow:1;
	min-width:250px; 
	width:250px; 
	flex-wrap:wrap; 
	margin-top:15px; 
  	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("<%=asset_path 'london.jpg' %>");
	background-position: center; 	
	background-repeat: no-repeat; 
	background-size: cover;
	display:flex; 
	margin-left:5px; 
	flex-direction: column; 
	box-shadow: inset 0 0 30px 2px #282a2d; 
}
#e{
	display: flex;
	flex-direction: column;
	width:100%;
	background-color:#f1f1f1;
	justify-content: center;
	align-items: center;

	}

.video-title{
	font-size:30px;
	color:white;
	width: 100%; 
	text-align:center;
	margin-top:70px;
	align-self:  center;

}

.place{

	color:white;
	width: 100%; 
	text-align:center;
	align-self:  center;
}

.video{
	background-color:white;
}

.video-title{
	margin-top:30px;
}

.video:hover{
	opacity: .7 !important;
}


.line-break {
  width: 100%;
}


.video-by{
	align-self:center;
	margin-top:30px;
	margin-top:10px;
	color:white;
}


.discover{

	margin-top:50px;
	font-weight: bolder; 
	width:40%;
	color:#575757;
	text-align: center;
}

.discover-under{

	width:66%;
	color:#9E9E9E;
	text-align: center;
	font-size:20px;
}

.bottom-join{
	width:100%;
	display: flex; 
	align-items: center;
	flex-direction: column;
	padding-top: 50px; 
	padding-bottom: 50px; 
	color:grey;
}

.sign-up-link{
	
	margin-top: 15px; 
	border:1px black solid !important;
	padding-left:60px;
	padding-right:60px;
	padding-top: 10px; 
	padding-bottom: 10px; 
}

.sign-up-link:hover{
		border:1px black solid !important;

}

::-webkit-input-placeholder { /* Chrome */
  color: white !important;
}

.footer{
	display: flex; 
	flex-direction: row; 
	justify-content: space-between;
	padding-left: 100px; 
	padding-right: 100px; 
	padding-top: 15px; 
	background-color: black; 
	width: 100%; 
	color:lightgrey;
	height:50px;


}


