.nav a{

	color:white;
	font-family:sans-serif;
	text-decoration: none;	
	font-weight:bolder;
	font-size:18px;


}

.nav a:hover{
	background-color: transparent !important; 
	color:lightgrey;
}

.first-link{
	margin-left:2%;
}

.logo{
	font-size: 32.5px; 
	color:white;
	font-family:Milkshake;
	margin-left: 2%;
}

.main,.nav{
	display:flex;
	flex-direction:row;	
}

.search-bar{
margin-top:7px;
}
.main{
width:100%; 

background-color:#7ff2f6;
}
	


.logo:hover{
	text-decoration:none !important;  
	color:white;
}


	
@font-face {
    font-family:Milkshake ;
    src:url("../Milkshake.otf");
}

.top-nav{

	align-self:center;
	margin-left:3%;
	width:75%;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    	z-index: 2; 

}

.search-img{
	cursor: pointer;
}

i{
	color:grey;
	font-size:15px;

}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding-top: 12px;
    padding-bottom: 12px; 
    padding-right:5px;
    padding-left:10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

