<style type="text/css">
	#form{
		padding-top:30px;
		width: 100%; 
		height:100vh;
		display: flex; 
		flex-direction: column;
		align-items: center; 
	}

	.form-stuff{
		width:40%;
	}

	#img{
		margin-top:10px;
		height:150px;
		width: 250px;
		margin-bottom:10px;
		display: none;
	}

	.title,.city,.country{
		margin-bottom:10px;
		height:50px !important;
	}

	.description{
		width:100%;
		max-width: 100%;
		height:200px !important;
		margin-bottom: 15px;
	}
	.btn-file {
	   
	   min-width: 100px !important; 
	   margin-bottom: 10px !important; 
	   height:30px !important;
	}

	.submit{
		width: 100% !important; 
		height:40px !important;
	}

	.form-text{
		font-weight: bolder;
		font-size:2em;
		margin-bottom:10px;
	}
	
	#upload-path{
		font-size:1.2em;
		padding-bottom: 50px;
	}

	.buttons{
		display: flex; 
		flex-direction: row; 
		width:280px;
		margin-top: 10px;
		margin-bottom: 10px; 
		padding-left: 10px;
		justify-content: space-between;
		cursor: pointer;

	}

	.flip{
		padding-left:10px;
		padding-right:10px;
		color:white;
		font-weight: bold;
		height:22px;
		display: none; 

		background-color: lightgreen; 
	}

	#pic{
		width:300px;
		height:180px;
		display: none; 
	}

	.error{
		color:red;
		font-weight:bolder;
		font-size:1.15em;


	}
</style>