	.form{
			width:100%;
			display:flex;
			flex-direction: column; 
			justify-content: center; 
			align-items: center;
			height:75vh;
		}
		.field{
			margin-bottom: 5px; 
			height:60px !important;
			width: 30%;
		}

		.fields{
			width:40%;
		}

		
		.btn{
			height: 50px !important;
			margin-top: 10px; 
			width:  100% !important;
		}
		@font-face {
	    font-family:Milkshake ;
	    src: url('../Milkshake.otf');
	}	
		
		.logo{
			font-family:Milkshake;
			color:white;
			font-size: 100px;
			margin-bottom: 5px; 
		}

		.logo:hover{
			text-decoration: none; 
			color:white;
		}

		.background{
			background-repeat: no-repeat;
			background: linear-gradient( rgba(0, 0, 0, 0.5), 
				rgba(0, 0, 0, 0.5) ), url("<%=asset_path 'tokyo.jpg' %>");
			background-size: cover; 
			background-position: center; 
			width:100%;
			height:100vh; 
			display: flex; 
			flex-direction:column;
			align-items:center;
			color:white;
		}


		.login-text{
			color:white;
			text-decoration: none; 
			margin-top:30px;
		}

		.login-text:hover{
					color:lightgrey;
					text-decoration: none; 

		}

		.error{
			color:red;
			font-weight:bolder;
			font-size:1.3em;


		}