
	body{
	margin:0;
	padding: 0; 
}


#profile-info{
	padding-top:50px;
	width:100%;
	display: flex;
	flex-direction: column;
	background-color:#f1f1f1;
	justify-content: center;
}

.places-text{
	align-self: center; 
	margin-top:5px;
	font-size:1.2em;
}

.flags-container{
	align-self: center;
	margin-top: 5px;
	width:400px;
	display: flex;
	flex-direction: row; 
	justify-content: center;
	flex-wrap: wrap;
}

.flag-img{
	width:45px;
	height:30px;
	margin-left:10px;
}
#r{
	align-self: center;
	width:70%;
}

#holder{
	display:flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.video-title{
	font-size:20px;
	color:white;
	width: 100%; 
	text-align:center;
	margin-top:50px;
	align-self:  center;

}

.place{
		
	color:white;
	width: 100%; 
	text-align:center;
	align-self:  center;
}

.video-container{
	padding-top:20px;
	display:flex;
	justify-content: center;
	width:100%;
	align-items: center;
justify-content:center;
align-content:center;
	flex-direction: row; 
	padding-right:10%;
	padding-left:10%;
	flex-wrap:wrap;
	align-self:center;
	padding-bottom:100px;
}


.video-filter-text{
	align-self: center;	
	margin-top:20px;
	font-size:2em;
}

.user-name{
	font-size:20px;
	align-self: center;
	font-weight: bold;
	padding-bottom: 10px;
}

.change-pic{
	font-size:12px;
	align-self: center;
	font-weight: bold;
	padding-bottom: 10px;

}


.video:hover{
	opacity: .7 !important;
}

.video{	
	flex-grow: 1;

	text-decoration: none;
	border: .5px black solid;
	height:170px;
	flex-grow:1;
	width:250px;
	flex-wrap:wrap;
	margin-top:15px;
	background: linear-gradient( rgba(0, 0, 0, 0.5), 
	rgba(0, 0, 0, 0.5) ), url("<%=asset_path 'london.jpg' %>");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display:flex;
	margin-left:5px;
	flex-direction: column;
	box-shadow: inset 0 0 30px 2px #282a2d	

}