body{
	margin:0;
	padding:0;
}
a:hover{
	text-decoration: none !important; 
}
.result{
	
	min-width: 270px; 
	margin-left: 10px; 
	display:flex;
	flex-direction: column; 
	margin-bottom:20px;
}

.video{
	width:320px;
	height:200px;
	border-radius: 2px; 
	background-size: cover; 
	background-position: center;
	background-image: url("<%=asset_path 'london.jpg' %>");
}

.search-results{
	

	display: flex; 
	flex-direction: row;
	flex-wrap: wrap;
	padding-top:15px;
	margin-left:80px;
}

.line-break{
	width: 100%; 
}


.video-by{
	color:grey !important;
}
.video-by:hover,.video-title:hover{
	color:skyblue !important;
}


.video-info{
	color:grey;
	font-size:12px;
	text-decoration: none; 
}

.search-results-text{
	margin-left:95px;
	padding-top:70px;
	font-size:30px;
	font-weight: bolder;

}


.video-title, .video-locaton{
	font-weight:bolder;
	max-width: 320px;
	font-size:1.2em;
	font-weight: bolder;
	color:black !important;
}

.pages{
	float: right;
	margin-right:80px;
	padding-bottom: 30px; 
	align-self: center;
	margin-left:60vh;
	margin-top:20px;
}

.page{
	border:lightblue 1px solid;
	margin-right:5px;
	padding:10px;

}

.active{
	text-decoration: underline; 
}

.more-videos{
	margin-top:300px;
}
.line-break{
	width: 100%; 
}