
	*{
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

	}
	html,body{
		margin:0;
		padding:0;
	}
	

.video-info{
	width:500px;	
	padding-left:30px;
	margin-bottom:30px;
}

.from,.video-title,.by{
		font-weight: bolder; 

}
.video-title{
	font-size:3em;
	color:#40545C;
}

.from{
	color:grey;
}

.by{
	color:#40545C;
	font-size:1.2em;
}
.user-pic{
	width:50px;
	height:50px;
	border-radius: 50%; 
	background-image: url(<%= @video.user.image.url %>);
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover; 

}
 
.video-analytics{
	background-color:#fafafa; 
	height:250px;
	width:100%;
	padding-left: 5%; 
	border-top: .5px #ededed solid;
		border-bottom: .5px #ededed solid;
}

.under-video{
	display:flex;
	flex-direction: row; 
}


.video-info-holder{
	width:72%;
	border: .5px #ededed solid;
}
.video-icon{
	color:grey;font-size:20px;margin-top:0px;
	margin-top: 10px;
	}

.video-description{
	align-self:right;
	margin-top: 10px;	
	font-weight: bold; 
	width:70%;

}

.recommended-videos{
	width:28%;
	padding-bottom: 50px;
	padding-top: 30px;
	padding-left: 30px; 
	display: flex;
	flex-direction: column;
	align-items: left;
	padding-left: 10px;
    background-color: rgb(255, 255, 255);
}
.more-videos-text{
	font-weight: bolder; 
	color:#7e7e7e;
	font-size:1.5em;
	margin-bottom: 10px; 
	margin-left:20px;
}

.rec-video-container{
	flex-direction: row; 
	display: flex;

}

.recommended-video{
	margin-left: 20px;
	width:150px;
	height:90px;
	
	margin-top:5px;
	margin-right:3px;
}

.rec-video-title{
	color:black;
	font-weight: bold; 
}

.video-text-container{
	display: flex; 
	flex-direction: column; 
	align-items: left;
	margin-left:5px;
	padding-top: 20px; 

}
.rec-video-creater{
	color:grey;
}

.line{
	width:70%;
	margin-left:10px;
	margin-bottom: 20px; 
	height:.5px;
	background-color:lightgrey;

}

.video-icon{
	font-size:1.2em;
	margin-right: 5px;
	color:#bdbdbd;
	font-weight: bolder;
}

.video-icons{
	display: flex; 
	flex-direction: row;

}
.view-count-text{
	font-size:1.1em;
	color:#40545C;
	font-weight: bolder;
	margin-right:20px;
	margin-top:3px;
}

.video-js {
    position: relative !important;
    width: 100% !important;
    height: 70vh !important;
}  

.vjs-progress-control {
    height: 10px;
    width:  70px !important;
  }

.vjs-poster{
  background-size: 800px 0 !important	; 
}

.comments{
	padding-left:40px;
	padding-top:15px;

}

.user-comment{
	margin-bottom:20px;
	display: flex; 
	padding-left: 30px; 
	flex-direction: row; 

}

.comment-image-right{
	margin-left:10px;
	margin-top:7px;	
}

.user-name{
	font-weight: bolder;
	color:skyblue;
	
}

.comment-text{
	max-width: 350px; 
	text-overflow: wrap; 
	font-weight: bold; 
}

#add_comment{
	width:700px !important;
	height:100px !important;
	margin-bottom: 10px; 
}
	
.post-comment-btn{
	width:100px !important;
	height:50px !important; 
	margin-bottom:40px !important;
}

.leave-comment{
	font-size:1.2em;
	border:black solid 1px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:50px	;
	padding-right:50px	;
	margin-left: 40%;
}
#favorite-button{
		cursor: pointer;
		<% if @liked %> 
			color:red;
		<% end %> 

}

.like-count{
	font-weight: bolder; 
	font-weight: 1.3em;

}