		
		*{font-family: sans-serif;  }

		html{
			background-image: url("background.png")
		}
		a{text-decoration: none;color:white;}
		
		.main-header,.nav{
			display: flex; 
			flex-direction:column;
		}

		.nav a{
			color:white;
		}
		.main-header li {
			list-style-type: none; 
		}	
		.main-header	{
			padding-top: 1.5em; 
		}

@font-face {
    font-family:Milkshake ;
    src: url('../Milkshake.otf');
}

		.logo{
			align-self:center;
			font-family: Milkshake; 
			font-size: 7em; 
			color:white;
		}

		.nav a{
			display:block;
			color:#797e83;
			font-size:1.125em;
			font-weight:300;
			text-align: center; 
			padding:.4em;
			border-bottom: 1px solid #ebecec;

		}

		.nav a:hover {
			color:;
			border-bottom-color:#52bab3; 	
		}


		#video-container{		
			display:flex;
			justify-content:space-around;
			flex-wrap:wrap;
		}

		#video-container li{

			list-style-type: none; 
		}
		.video{
			width:250px;
			height:150px;
			border: 1px solid black;
`
		}

		.video-content{
			display: flex; 
			flex-wrap:wrap;
			flex-direction:column;

		}

		.uploader,.country{
			align-self:center;
		}

		a:visited{
			color:lightgrey;
		}




		@media (min-width: 769px )
		{
			.main-header{
				height:200px;
			}

			.nav{
				margin-top: 3em; 
				flex-direction:row;
				justify-content:center;
			}
			nav .a{
				border-bottom-color:transparent;
			}



		}

		@media (min-width: 1025px )
		{
			.main-header{
				
				flex-direction: row;


			nav .a{}

			.logo{
					margin-right:auto;
				}

		}
	